{% extends '@EasyAdmin/layout.html.twig' %}
{% block stylesheets %}
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <br/>
			<div class="col text-center">
				<h1 class="text-center">
					Administrator Interface
				</h1>
				<h2 class="text-center">
					Global View
				</h2>
			</div>
		</div>
    </div>
{% endblock %}